@CHARSET "UTF-8";

:root {
 /*  --rightpanel-size: 300px;
  --topbar-height: 36px;
  --menubar-height: 32px;
  --layout-main-padding: 92px; */
  --text-color:white;
  --header-bg_color: indio;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
	font-size: 10px;
}

.mygrid {
	display: grid;
	/* grid-template-columns: minmax(10rem, 250px) 1fr minmax(10rem, 200px); */
	grid-template-columns:  250px 1fr minmax(10rem, 200px);
	grid-template-rows: 36px 2fr 1fr auto;
	grid-template-areas:
		"logo header header"
		"nav main aside"
		"nav main ads"
		"footer footer footer" ;
		
	min-height :  100vh;
	color: var(--text-color);
}

.logo {
	grid-area : logo;
	/* background-color: red; */
	
	display: flex;
	
	/* justify-content : space-around; */
	/* justify-content : space-between; */
	justify-content : flex-start;
	align-items: center;
	
  	padding: 0px 10px 0px 10px;
  	
  	height: var(--topbar-height);
  	width: max(250px, 100%);
  	background-color: #0D47A1;
  /* 	float: left; */
  	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  
  color: white;
  
}

#menu-bars, #menu-ellipsis{
	cursor: pointer;
	/* padding: auto 10px; */
}

#menu-ellipsis{
	display: none;
	margin-left:auto;
}

#image-logo{
	padding: 0 30px;
	/* background-color: red; */
	flex: 1 1 auto;
	/* background: url("#{resource['ultima-layout:images/logo.png']}") top left no-repeat; */
}

/* .logo-image{
	display: inline-block;
  	vertical-align: middle;
  	width: 200px;
  	height: 30px;
  	background: url("#{resource['ultima-layout:images/logo.png']}") no-repeat;
} */



header {
	grid-area: header;
	background-color: #0D47A1;
}

nav {
	grid-area: nav;
	background-color: pink;
}

main {
	grid-area: main;
	background-color: orange;
	
}

aside {
	grid-area: aside;
	background-color: yellow;
}

.ads{
	grid-area : ads;
	background: gray;
}


footer {
	grid-area: footer;
	background-color: bluegray;
}

@media (max-width :640px) {
	#menu-ellipsis{
		display: block;
	/* 	margin-left:auto; */
	}
	
	.mygrid {
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) auto;
		grid-template-areas:
			"logo"
			"nav"
			"main"
			"aside"
			"footer" ;
		min-height :  100vh;
	}
	header {
		display: none;
	}	
	.ads {
		display: none;
	}
}


.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow {
	top: 34px !important; 
}